@charset "UTF-8";

@media screen and (max-width: 768px)   {
    .box-verific {
        font-size: 13px;
        padding: 10px;
        background-color: #fff;
        color: black;
        border-radius: 8px;
        height: 300px;
        width: 300px;
    }
}